<div class="custom-container">
  <div class="about d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="about-secondary">О нас</div>
    <div class="about-primary">Строим дома по технологии SIP и каркасные дома под ключ</div>
    <div class="line spacer"></div>
    <ul class="d-flex justify-content-between">
      <li class="col">
        <div class="element">
          <div class="el-head">
            Качество и скорость
          </div>
          <div class="line"></div>
          <div class="el-body">
            Все этапы работ выполняются бригадами узкой специальности, чтобы достичь максимального качества и скорости
            выполнения работ
          </div>
        </div>
      </li>
      <li class="col">
        <div class="element">
          <div class="el-head">
            Бригады из Беларуси
          </div>
          <div class="line"></div>
          <div class="el-body">
            Помимо постройки деревянных домов есть бригады других специальностей
          </div>
        </div>
      </li>
      <li class="col">
        <div class="element">
          <div class="el-head">
            Разумные цены
          </div>
          <div class="line"></div>
          <div class="el-body">
            Помощь в выборе и покупке материалов и последующем монтаже за разумные деньги с составлением договора на
            подрядные работы
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="about d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="about-primary">
      Цены на выполнение монтажа:
    </div>
    <div>
      Ниже, чем у строительных компаний
    </div>
    <div class="container">
      <div class="row about-secondary">
        <div class="col-6">Монтаж дома из SIP</div>
        <div class="col-6">От 1500 руб. за кв.м.</div>
      </div>
      <div class="line spacer"></div>
      <div class="row about-secondary">
        <div class="col-6">Каркасные дома</div>
        <div class="col-6">От 2500 руб. за кв.м.</div>
      </div>
      <div class="line spacer"></div>
      <div class="row about-secondary">
        <div class="col-6">Кровля</div>
        <div class="col-6">От 700 руб. за кв.м.</div>
      </div>
      <div class="line spacer"></div>
      <div class="row about-secondary">
        <div class="col-6">Монтаж имитации бруса или блокхауса</div>
        <div class="col-6">От 450 руб.</div>
      </div>
      <div class="line spacer"></div>
      <div class="row about-secondary">
        <div class="col-6">Монтаж вагонки</div>
        <div class="col-6">От 400 руб.</div>
      </div>
      <div class="line spacer"></div>
      <div class="row about-secondary">
        <div class="col-6">Покраска</div>
        <div class="col-6">От 50 руб. кв.м.</div>
      </div>
    </div>
  </div>
</div>
