<div class="custom-container">
  <div class="about d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="about-us">О нас</div>
    <div class="about-primary">Строим дома по технологии SIP и каркасные дома под ключ</div>
    <div class="line spacer"></div>
    <ul class="d-flex justify-content-between">
      <li class="col-3">
        <div class="element">
        <div class="el-head">
          Качество и скорость
        </div>
          <div class="line"></div>
          <div class="el-body">
          Все этапы работ выполняются бригадами узкой специальности, чтобы достичь максимального качества и скорости выполнения работ
        </div>
        </div>
      </li>
      <li class="col-3">
        <div class="element">
        <div class="el-head">
          Бригады из Беларуси
        </div>
          <div class="line"></div>
          <div class="el-body">
          Помимо  постройки деревянных домов есть бригады других специальностей
        </div>
        </div>
      </li>
      <li class="col-3">
        <div class="element">
        <div class="el-head">
          Разумные цены
        </div>
          <div class="line"></div>
          <div class="el-body">
          Помощь в выборе и покупке материалов и последующем монтаже за разумные деньги с составлением договора на подрядные работы
        </div>
        </div>
      </li>
    </ul>
  </div>
</div>
