<div class="main text-center">
  <span class="d-block first-priority">SIP</span>
  <span class="d-block second-priority">TihonchuckStroi</span>
</div>
<div class="body-container">
  <div class="container">
    <div class="third-priority">
      Если наши услуги Вас заинтересовали, Вы можете связаться с нами следующими способами
    </div>
    <div class="line spacer"></div>
    <div class="contacts text-center second-priority">
      <div>
        <a href="viber://chat?number=%2B375447571433" class="messenger">
          <i class="viber"></i>
        </a>
        <a href="https://wa.me/375447571433" target="_blank" class="messenger">
          <i class="whatsapp"></i>
        </a>
        <a href="tel:+375447571433" class="number">+375447571433</a>
      </div>
      <div class="line"></div>
      <div>
        <a href="viber://chat?number=%2B79651386976" class="messenger">
          <i class="viber"></i>
        </a>
        <a href="https://wa.me/79651386976" target="_blank" class="messenger">
          <i class="whatsapp"></i>
        </a>
        <a href="tel:+79651386976" class="number">+79651386976</a>
      </div>
      <div class="line"></div>
      <div>
        <p><a href="mailto:ivanstroimvse@mail.ru" class="email">ivanstroimvse@mail.ru</a></p>
      </div>
    </div>
  </div>
</div>
