<footer class="footer-distributed text-center">
  <div class="footer-body">
    <div class="footer-left">
      <a routerLink="">
        <h3>Строим<span>SIP</span></h3>
      </a>
      <p class="footer-links">
        <a routerLink="">Главная</a>
        ·
        <a routerLink="/technology">Технология</a>
        ·
        <a routerLink="/projects">Портфолио</a>
        ·
        <a routerLink="/services">Услуги</a>
      </p>
      <p class="footer-company-name">TihonchuckStroi &#169; 2020</p>
    </div>
    <div class="contacts">
      <div>
        <a href="viber://chat?number=%2B375447571433" class="messenger">
          <i class="viber"></i>
        </a>
        <a href="https://wa.me/375447571433" target="_blank" class="messenger">
          <i class="whatsapp"></i>
        </a>
        <a href="tel:+375447571433" class="number">+375447571433</a>
      </div>
      <div>
        <a href="viber://chat?number=%2B79651386976" class="messenger">
          <i class="viber"></i>
        </a>
        <a href="https://wa.me/79651386976" target="_blank" class="messenger">
          <i class="whatsapp"></i>
        </a>
        <a href="tel:+79651386976" class="number">+79651386976</a>
      </div>
      <div>
        <p><a href="mailto:ivanstroimvse@mail.ru" class="email">ivanstroimvse@mail.ru</a></p>
      </div>
      <div class="row justify-content-center">
        <div><a href="https://ok.ru/profile/587203287049" target="_blank" class="ok"></a></div>
        <div class="spacer"></div>
        <div><a href="https://vk.com/id524435526" target="_blank" class="vk"></a></div>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>О компании</span>
        Компания оказывает услуги по строительству частных домов, общественных зданий и промышленных сооружений с
        применением SIP панелей
      </p>
    </div>
  </div>
</footer>
