.footer-distributed {
  background-color: #123123;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;

  .footer-body {
    max-width: 70em;
    padding: 1.5em 0;
    margin: 0 auto;

    .footer-left, .footer-center, .footer-right {
      display: inline-block;
      vertical-align: top;
    }

    .footer-left {
      width: 40%;

      h3 {
        color: #ffffff;
        margin: 0;

        span {
          color: #20c997;
        }
      }

      .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;

        a {
          display: inline-block;
          line-height: 1.8;
          text-decoration: none;
          color: inherit;
        }
      }

      .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
      }
    }

    .footer-center {
      width: 35%;

      a {
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin: 0.2em auto;
      }

      .email {
        text-decoration: none;
        color: #20c997;
        margin-top: 1em;
      }

      .viber:before {
        content: "";
        display: block;
        background: url("../../../assets/images/viber.png") no-repeat;
        width: 32px;
        height: 32px;
        float: left;
        margin: 0 6px 0 0;
      }

      .viber:after {
        content: "";
        display: block;
        background: url("../../../assets/images/whatsapp.png") no-repeat;
        width: 32px;
        height: 32px;
        float: left;
        margin: 0 6px 0 0;
      }
    }

    .footer-right {
      width: 20%;

      .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;

        span {
          display: block;
          color: #ffffff;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .footer-distributed .footer-body .footer-left,
  .footer-distributed .footer-body .footer-center,
  .footer-distributed .footer-body .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }

  //.footer-distributed .footer-center i {
  //  margin-left: 0;
  //}
}
