<div class="header-container text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <h3 class="masthead-brand"><a routerLink="">Строим <i class="sip">SIP</i></a></h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" routerLink="technology" routerLinkActive="active">Технология</a>
        <a class="nav-link" routerLink="projects" routerLinkActive="active">Проекты</a>
        <a class="nav-link" routerLink="services" routerLinkActive="active">Услуги</a>
        <a class="nav-link" routerLink="contacts" routerLinkActive="active">Контакты</a>
      </nav>
    </header>
  </div>
</div>
