a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

.header-container {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  width: 100%;

  .cover-container {
    max-width: 70em;

    .masthead {
      margin-bottom: 2rem;

      .masthead-brand {
        margin-bottom: 0;
        font-family: 'Gotham Pro Light', sans-serif;

        .sip {
          font-weight: 700;
        }
      }

      .nav-masthead {
        .nav-link {
          padding: .25rem 0;
          font-weight: 400;
          color: rgba(255, 255, 255);
          background-color: transparent;
          border-bottom: .2rem solid transparent;
          transition: 0.4s;

          &:hover {
            border-bottom-color: rgba(255, 255, 255, .25);
          }
        }

        .nav-link + .nav-link {
          margin-left: 1.5rem;
        }

        .active {
          color: #fff !important;
          border-bottom-color: #fff !important;
        }
      }
    }

  }
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
  .nav-masthead .nav-link + .nav-link {
    margin-left: 0.5em;
  }
}
