<div class="main text-center">
  <span class="d-block first-priority">SIP</span>
  <span class="d-block second-priority">Немного информации</span>
</div>
<div class="body-container">
  <div class="container">
    <div class="second-priority">
      Технология SIP
    </div>
    <div class="line spacer"></div>
    <div class="text">
      Конструкционная теплоизоляционная сэндвич-панель состоит из двух ориентированных стружечных плит (ОСП), между
      которыми под давлением приклеивается слой твердого пенополистирола в качестве утеплителя. Толщина панелей в
      готовом виде составляет от 124 мм до 214 мм. Максимальный размер панели 2,8 метра на 1,25 метра. Такая панель
      обладает исключительными энергосберегающими свойствами и имеет высокую прочность. Стены и углы домов, собранных
      по
      этой технологии, идеально ровные и прямые. Кроме того, монтаж домов производится в любое время года, построенные
      дома обладают отличными эксплуатационными характеристиками и долговечны.<br/><br/>
      Торцы панелей закрываются брусками, которые служат для соединения по принципу «шип-паз».<br/><br/>
      При строительстве не используется отдельно возводимый каркас здания. Его роль выполняют верхний и нижний
      обвязочный брус и деревянные стойки, служащие для соединения панелей между собой. Жесткость конструкции
      достигается благодаря исключительным свойствам плит ОСП. Сами панели являются основным несущим элементом
      конструкции.<br/><br/>
      Дома, изготовленные по данной технологии, могут эксплуатироваться в температурном диапазоне от -80°С до +80°С и
      обеспечивают комфортабельное проживание даже в самых суровых климатических условиях.
    </div>
    <div class="spacer"></div>
    <div class="second-priority">
      SIP панель - что это такое?
    </div>
    <div class="line spacer"></div>
    <div class="text">
      В переводе с английского sip (structural insulated panel) - это дословно "структурная изоляционная панель", или в
      литературном переводе "конструкционная (тепло)изоляционная панель". То есть это одновременно и основной
      строительный материал, несущий нагрузки, и ограждающая, изолирующая от холода поверхность. Это возможно благодаря
      тому, что sip панель - это композитный материал, в котором соединение исходных наделяет конечный продукт
      техническими характеристиками, превышающими изначальные характеристики его составляющих. Sip панель устроена по
      принципу бутерброда-сэндвича из трех слоев: лист конструктивного материала + блок изолирующего материала + лист
      конструктивного материала.<br/><br/>
      Существует несколько видов sip панелей, основанных на разных конструкционных и теплоизоляционных составляющих. Все
      они обладают разными несущими и теплоизоляционными характеристиками, а так же размерами (которые чаще всего
      привязаны к размерам конструктивных плит).
    </div>
    <div class="spacer"></div>
    <div class="second-priority">Материалы и компоненты</div>
    <div class="line spacer"></div>
    <div class="text">Пенополистирол - белое однородное вещество, имеющее структуру из склеенных между собой шариков,
      упругое на ощупь, не имеет запаха. Это экологически чистый, нетоксичный, тепло- и звукоизоляционный материал,
      применяемый в строительстве на протяжении уже более 40 лет.<br/>
      Пенополистирол является нейтральным материалом, не выделяющим никаких вредных для человека и его окружения веществ
      и не имеет ограниченного срока годности. Он экологичен в процессе работы с ним, а также весь период дальнейшей
      эксплуатации. Пенополистирол долговечен, не дает трещин, не является питательной средой для микроорганизмов,
      грызунов и другой живности, не загнивает, не плесневеет и не разлагается. Воздухопроницаемость позволяет зданию
      дышать.<br/><br/>
      Пенополистирол относится к той группе пластмасс, которые при горении выделяют точно такие же газы, как и при
      сжигании древесины или пробки. Современные пенопласты производят в огнестойком (самозатухающем) исполнении.<br/><br/>
      Влага не влияет на теплоизолирующие свойства этого материала и не вызывает образование в нем бактерий и плесени,
      что позволяет широко использовать пенополистирол даже в пищевой промышленности.<br/><br/>
      ОСП (ориентированно стружечные плиты) были получены в результате новейших исследований и разработок в технологии
      древесных композиционных материалов и принадлежат к последним изобретениям в области деревообрабатывающей
      промышленности.<br/><br/>
      ОСП - это спрессованная древесностружечная плита с ориентированной плоской щепой (соответствует Европейскому
      стандарту EN-300-OSB).<br/><br/>
      Прямоугольные узкие щепки толщиной 0,5 - 0,7 мм и длиной до 140 мм укладываются в три слоя, причем щепа в наружных
      слоях плиты располагается вдоль главной оси плиты, а во внутреннем слое - перпендикулярно главной оси. Процесс
      прессовки проходит в условиях высокого давления и высокой температуры, с использованием фенолформальдегидной
      водостойкой смолы. За счет пропитки щепы клеем и гидрофобной эмульсией достигается высокая прочность и большая
      устойчивость к изменяющимся погодным условиям.<br/><br/>
      Несмотря на применение синтетических связующих для производства плит, ОСП экологически и гигиенически безвредный
      материал (соответствует классу эмиссии свободного формальдегида Е1).<br/><br/>
      Ориентированно стружечная плита объединяет в себе отличные механические свойства с уникальными эксплуатационными
      характеристиками. Микроструктура спрессованной крупноразмерной стружки предохраняет края плиты от сколов при
      соединении и придает необходимую для распила жесткость. Распил может осуществляться обычным инструментом,
      предназначенным для обработки натуральной древесины. При сверлении плит ОСП также подходят сверла, предназначенные
      для дерева твердых пород.
    </div>
  </div>
</div>
