.header-spacer {
  height: 8em;
  background: rgba(108, 184, 112, 0.96);
  margin-bottom: 2em;
}

.container {
  color: #297857;
}

.fileUpload {
  display: none;
}

ul {
  padding: 0;
}

@media (min-width: 544px) {
  .header-spacer {
    height: 4em;
  }
}
