<div class="header-spacer sticky-top"></div>

<div class="container">
  <div class="card">
    <h3 class="card-header text-center">
      Загрузка нового проекта
    </h3>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Название</label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   id="name"
                   aria-label="Name"
                   aria-describedby="Name"
                   [(ngModel)]="newProject.name"
                   [ngModelOptions]="{standalone: true}">
          </div>
        </div>

        <div class="form-group row">
          <label for="end-date" class="col-sm-2 col-form-label">Дата онончания</label>
          <div class="col-sm-10">
            <input type="date" id="end-date"
                   class="form-control"
                   aria-label="End-date"
                   aria-describedby="End-date"
                   [(ngModel)]="newProject.endDate"
                   [ngModelOptions]="{standalone: true}">
          </div>
        </div>

        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Описание</label>
          <div class="col-sm-10">
            <textarea id="description"
                      class="form-control"
                      aria-label="Description"
                      [(ngModel)]="newProject.description"
                      [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
      </form>
      <div class="text-center">
        <button class="btn btn-outline-info mb-3" (click)="onClick()">Загрузить фото</button>
      </div>
      <ul>
        <li *ngFor="let file of files" class="list-group-item">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                 [ngStyle]="{width: (file.progress ? file.progress : 0) + '%'}"
                 [ngClass]="{'bg-success': file.inProgress,
                             'bg-danger': !file.inProgress}"
                 aria-valuenow="25" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <span id="file-label">
          {{file.data.name}}
        </span>
        </li>
      </ul>
    </div>
    <div class="card-footer text-center">
      <button type="button" class="btn btn-success" (click)="saveProject()">Загрузить</button>
    </div>
  </div>
  <input class="custom-file-input" type="file" #fileUpload id="fileUpload" name="fileUpload"
         multiple="multiple" accept="image/*" aria-describedby="project-images">
  <!--------------------------------------------------------------------------------------------->
  <div class="text-center">
    <h1>Работа с старыми проектами</h1>
  </div>
  <div class="card project" *ngFor="let project of projectList">
    <form [formGroup]="project" (ngSubmit)="updateProject(project)">
      <div class="text-center">
        <button type="button" class="btn btn-danger" (click)="deleteProject(project.value.id)">Удалить проект</button>
      </div>
      <div class="form-group">
        <label for="inputName">Название</label>
        <input type="text" class="form-control" id="inputName" formControlName="name">
      </div>
      <div class="form-group">
        <label for="inputDescription">Описание</label>
        <textarea class="form-control" id="inputDescription" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="inputDate">Дата создания</label>
        <input type="date" class="form-control" id="inputDate" formControlName="endDate">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Применить изменения</button>
      </div>
    </form>
  </div>
</div>
