.main {
  background: #02c48d url('../../../assets/images/services-header.jpg') no-repeat center center;
  background-size: cover;
  padding: 7rem 0 10rem 0;
}

.first-priority {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin: 2rem 0;
}

.second-priority {
  font-size: 35px;
  line-height: 1.2;
}

.body-container {
  background-image: -moz-linear-gradient(37deg, rgb(95, 164, 74) 0%, rgb(127, 215, 171) 100%);
  background-image: -webkit-linear-gradient(37deg, rgb(95, 164, 74) 0%, rgb(127, 215, 171) 100%);
  background-image: -ms-linear-gradient(37deg, rgb(95, 164, 74) 0%, rgb(127, 215, 171) 100%);
  background-image: linear-gradient(37deg, rgb(95, 164, 74) 0%, rgb(127, 215, 171) 100%);
}

.container {
  padding: 1em;
}

.line {
  border-bottom: 3px solid #fff;
}

.spacer {
  margin: 1.5em 0;
}

.contacts {
  a {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0.2em auto;
    text-decoration: none;
  }

  .line {
    width: 60%;
    margin: 0.5em auto;
  }

  .email {
    text-decoration: none;
    //color: #20c997;
    //margin-top: 1em;
  }

  .number:before {
    content: "";
    display: block;
    background: url("../../../assets/images/viber.png") no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    margin: 0.1em 6px 0 0;
  }

  .number:after {
    content: "";
    display: block;
    background: url("../../../assets/images/whatsapp.png") no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    margin: 0.1em 6px 0 0;
  }
}

.row {
  transition: color 0.5s;
  margin: 0 1em;
  cursor: pointer;
}

.row:hover {
  color: #36633b;
  transition: color 0.5s;
}

.col-custom {
  display: inline-block;
  vertical-align: top;
}

.service-name {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .col-custom {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
}

@media (max-width: 450px) {
  a {
    font-size: 25px;
  }
}
